Data Description: Given a Bank customer, can we build a classifier that can determine whether they will leave
or not using Neural networks?

The dataset contains 10,000 sample points with 14 distinct features such as CustomerId, CreditScore, Geography, 
Gender, Age, Tenure, Balance etc. Know your data: https://www.kaggle.com/barelydedicated/bank-
customer-churn-modeling.

Businesses like banks which provide service have to worry about problem of 'Churn' i.e. customers leaving and
joining another service provider. It is important to understand which aspects of the service influence a
customer's decision in this regard. Management can concentrate efforts on improvement of service, keeping in 
mind these priorities.

The points distribution for this case is as follows:

Read the data set
Drop the columns which are unique for all users like IDs (2.5 points)
Distinguish the feature and target set (2.5 points)
Divide the data set into training and test sets ( 2.5 points)
Normalize the train and test data (5 points)
Initialize & build the model (10 points)
Predict the results using 0.5 as a threshold (5 points)
Print the Accuracy score and confusion matrix (2.5 points)

# Read the data set,Drop the columns which are unique for all users like IDs (2.5 points)

In [139]:
import numpy as np
import pandas as pd
bank_df=pd.read_csv("bank.csv")
print(bank_df.head())
print(" The column  names are features and the Target variable is Exited")

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
 The column  names are features and the Target variable is Exited

In [140]:
#Checking for null values
bank_df.isnull().sum()
drop_list=["CustomerId","Exited","Surname"]
new_bank_df=bank_df.drop(drop_list,axis=1)
new_bank_df.head()
bank_df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Distinguish the feature and target set (2.5 points)

In [141]:
print(" The column  names are features and the Target variable is Exited")
new_bank_df.groupby(["Geography"]).count()

 The column  names are features and the Target variable is Exited

,RowNumber,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
Geography,,,,,,,,,,
France,5014,5014,5014,5014,5014,5014,5014,5014,5014,5014
Germany,2509,2509,2509,2509,2509,2509,2509,2509,2509,2509
Spain,2477,2477,2477,2477,2477,2477,2477,2477,2477,2477

# Encoding the Categorical Features Geography and Gender

In [142]:
#Encoding all the object data types.
new_bank_obj = new_bank_df.select_dtypes(include=['object']).copy()
cleanup_nums = {"Gender": {"Female": 0, "Male": 1 },"Geography":{"France": 0, "Germany": 1,"Spain":2 }}
X_df=new_bank_df.replace(cleanup_nums, inplace=False)# Replacing the categorical Target variable with the binary encoded values.
X_df.head()

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,619,0,0,42,2,0.00,1,1,1,101348.88
1,2,608,2,0,41,1,83807.86,1,0,1,112542.58
2,3,502,0,0,42,8,159660.80,3,1,0,113931.57
3,4,699,0,0,39,1,0.00,2,0,0,93826.63
4,5,850,2,0,43,2,125510.82,1,1,1,79084.10

In [143]:
X=X_df.values
#print("The following are the features\n",col_names)
Y_df=bank_df.iloc[:,13]
Y=Y_df.values
Y_df.head()
print(X_df.shape,Y_df.shape)
print("Target Set is \n",Y_df.head())

(10000, 11) (10000,)
Target Set is
 0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

# Divide the data set into training and test sets ( 2.5 points)

In [144]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=7)

In [145]:
print(X_train)

[[4.8820000e+03 5.7900000e+02 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 2.6149250e+04]
 [9.0000000e+01 6.3500000e+02 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.5679136e+05]
 [8.4600000e+02 5.0500000e+02 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 1.3518011e+05]
 ...
 [5.7000000e+03 6.8400000e+02 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 8.7219410e+04]
 [5.3800000e+02 6.8600000e+02 2.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.2756980e+05]
 [9.4130000e+03 7.2500000e+02 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 1.3372057e+05]]

# Normalize the train and test data (5 points)

In [147]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [148]:
X_train

array([[-0.03769042, -0.7457425 , -0.90549962, ...,  0.64738759,
        -1.03667198, -1.28306535],
       [-1.69335299, -0.16469943,  0.30118964, ...,  0.64738759,
         0.96462528,  0.98168193],
       [-1.43215079, -1.51354942, -0.90549962, ..., -1.54466971,
        -1.03667198,  0.60703995],
       ...,
       [ 0.24493312,  0.34371326, -0.90549962, ...,  0.64738759,
         0.96462528, -0.22438313],
       [-1.5385665 ,  0.3644648 ,  1.5078789 , ...,  0.64738759,
        -1.03667198,  0.47511136],
       [ 1.52779521,  0.7691198 , -0.90549962, ..., -1.54466971,
        -1.03667198,  0.58173808]])

In [149]:
X_test

array([[-1.04103852e+00,  6.86113649e-01,  1.50787890e+00, ...,
        -1.54466971e+00, -1.03667198e+00,  1.29335321e+00],
       [-3.83541467e-01,  2.71082880e-01, -9.05499619e-01, ...,
         6.47387589e-01,  9.64625280e-01,  9.26435059e-01],
       [-1.70613669e+00,  1.42279326e+00, -9.05499619e-01, ...,
        -1.54466971e+00, -1.03667198e+00,  2.91500424e-01],
       ...,
       [-8.97653717e-01, -1.94386578e-02,  1.50787890e+00, ...,
         6.47387589e-01,  9.64625280e-01,  8.70720991e-01],
       [-4.33985276e-01,  1.50579942e+00,  3.01189639e-01, ...,
         6.47387589e-01,  9.64625280e-01, -9.31746731e-01],
       [ 8.55786921e-01,  1.31288066e-03,  3.01189639e-01, ...,
         6.47387589e-01,  9.64625280e-01, -4.21692933e-01]])

# Initialize & build the model (10 points)

In [150]:
import tensorflow as tf
print(tf.__version__)

2.0.0

In [151]:
tf.random.set_seed(42)

In [152]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [166]:
#Initialize Sequential model
model = Sequential()

In [167]:
#Add input layer
model.add(Dense(11, input_dim = 11, kernel_initializer = 'uniform', activation='relu', name='input_layer'))

In [168]:
#Add hidden layer
model.add(Dense(10, kernel_initializer = 'uniform', activation = 'relu', name='hidden_layer_1'))

In [169]:
#Add Output layer
model.add(Dense(1, kernel_initializer = 'uniform', activation = 'sigmoid', name='output_layer'))

In [170]:
#Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [171]:
print('Neural Network Model Summary: ')
print(model.summary())

Neural Network Model Summary:
Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_layer (Dense)          (None, 11)                132
_________________________________________________________________
hidden_layer_1 (Dense)       (None, 10)                120
_________________________________________________________________
output_layer (Dense)         (None, 1)                 11
=================================================================
Total params: 263
Trainable params: 263
Non-trainable params: 0
_________________________________________________________________
None

In [172]:
# Fitting the ANN
model.fit(X_train,Y_train, epochs=100,validation_data=(X_test,Y_test))

Train on 7500 samples, validate on 2500 samples
Epoch 1/100
7500/7500 [==============================] - 3s 462us/sample - loss: 0.5464 - accuracy: 0.7961 - val_loss: 0.4418 - val_accuracy: 0.7960
Epoch 2/100
7500/7500 [==============================] - 2s 231us/sample - loss: 0.4367 - accuracy: 0.7964 - val_loss: 0.4353 - val_accuracy: 0.7960
Epoch 3/100
7500/7500 [==============================] - 2s 229us/sample - loss: 0.4306 - accuracy: 0.7964 - val_loss: 0.4313 - val_accuracy: 0.7960
Epoch 4/100
7500/7500 [==============================] - 2s 248us/sample - loss: 0.4249 - accuracy: 0.8023 - val_loss: 0.4258 - val_accuracy: 0.8184
Epoch 5/100
7500/7500 [==============================] - 2s 226us/sample - loss: 0.4186 - accuracy: 0.8232 - val_loss: 0.4218 - val_accuracy: 0.8300
Epoch 6/100
7500/7500 [==============================] - 2s 278us/sample - loss: 0.4137 - accuracy: 0.8344 - val_loss: 0.4170 - val_accuracy: 0.8300
Epoch 7/100
7500/7500 [==============================] - 2s 254us/sample - loss: 0.4087 - accuracy: 0.8353 - val_loss: 0.4140 - val_accuracy: 0.8316
Epoch 8/100
7500/7500 [==============================] - 1s 147us/sample - loss: 0.4057 - accuracy: 0.8379 - val_loss: 0.4112 - val_accuracy: 0.8320
Epoch 9/100
7500/7500 [==============================] - 1s 151us/sample - loss: 0.4027 - accuracy: 0.8377 - val_loss: 0.4095 - val_accuracy: 0.8328
Epoch 10/100
7500/7500 [==============================] - 2s 265us/sample - loss: 0.4013 - accuracy: 0.8377 - val_loss: 0.4078 - val_accuracy: 0.8312
Epoch 11/100
7500/7500 [==============================] - 2s 312us/sample - loss: 0.3996 - accuracy: 0.8377 - val_loss: 0.4060 - val_accuracy: 0.8320
Epoch 12/100
7500/7500 [==============================] - 1s 177us/sample - loss: 0.3985 - accuracy: 0.8383 - val_loss: 0.4056 - val_accuracy: 0.8324
Epoch 13/100
7500/7500 [==============================] - 2s 283us/sample - loss: 0.3974 - accuracy: 0.8385 - val_loss: 0.4051 - val_accuracy: 0.8316
Epoch 14/100
7500/7500 [==============================] - 2s 298us/sample - loss: 0.3966 - accuracy: 0.8384 - val_loss: 0.4056 - val_accuracy: 0.8332
Epoch 15/100
7500/7500 [==============================] - 2s 271us/sample - loss: 0.3960 - accuracy: 0.8381 - val_loss: 0.4053 - val_accuracy: 0.8332
Epoch 16/100
7500/7500 [==============================] - 2s 261us/sample - loss: 0.3952 - accuracy: 0.8393 - val_loss: 0.4052 - val_accuracy: 0.8348
Epoch 17/100
7500/7500 [==============================] - 2s 242us/sample - loss: 0.3954 - accuracy: 0.8387 - val_loss: 0.4041 - val_accuracy: 0.8336
Epoch 18/100
7500/7500 [==============================] - 2s 231us/sample - loss: 0.3945 - accuracy: 0.8380 - val_loss: 0.4036 - val_accuracy: 0.8328
Epoch 19/100
7500/7500 [==============================] - 2s 234us/sample - loss: 0.3945 - accuracy: 0.8393 - val_loss: 0.4030 - val_accuracy: 0.8336
Epoch 20/100
7500/7500 [==============================] - 2s 229us/sample - loss: 0.3935 - accuracy: 0.8403 - val_loss: 0.4042 - val_accuracy: 0.8336
Epoch 21/100
7500/7500 [==============================] - 2s 227us/sample - loss: 0.3936 - accuracy: 0.8401 - val_loss: 0.4029 - val_accuracy: 0.8344
Epoch 22/100
7500/7500 [==============================] - 2s 232us/sample - loss: 0.3932 - accuracy: 0.8415 - val_loss: 0.4022 - val_accuracy: 0.8360
Epoch 23/100
7500/7500 [==============================] - 2s 260us/sample - loss: 0.3926 - accuracy: 0.8404 - val_loss: 0.4023 - val_accuracy: 0.8372
Epoch 24/100
7500/7500 [==============================] - 2s 233us/sample - loss: 0.3923 - accuracy: 0.8408 - val_loss: 0.4028 - val_accuracy: 0.8360
Epoch 25/100
7500/7500 [==============================] - 2s 231us/sample - loss: 0.3926 - accuracy: 0.8405 - val_loss: 0.4026 - val_accuracy: 0.8352
Epoch 26/100
7500/7500 [==============================] - 2s 236us/sample - loss: 0.3918 - accuracy: 0.8405 - val_loss: 0.4023 - val_accuracy: 0.8340
Epoch 27/100
7500/7500 [==============================] - 2s 234us/sample - loss: 0.3917 - accuracy: 0.8431 - val_loss: 0.4009 - val_accuracy: 0.8352
Epoch 28/100
7500/7500 [==============================] - 2s 230us/sample - loss: 0.3913 - accuracy: 0.8415 - val_loss: 0.4014 - val_accuracy: 0.8356
Epoch 29/100
7500/7500 [==============================] - 2s 235us/sample - loss: 0.3912 - accuracy: 0.8425 - val_loss: 0.4012 - val_accuracy: 0.8340
Epoch 30/100
7500/7500 [==============================] - 2s 247us/sample - loss: 0.3908 - accuracy: 0.8412 - val_loss: 0.4010 - val_accuracy: 0.8352
Epoch 31/100
7500/7500 [==============================] - 2s 253us/sample - loss: 0.3904 - accuracy: 0.8419 - val_loss: 0.4011 - val_accuracy: 0.8364
Epoch 32/100
7500/7500 [==============================] - 2s 244us/sample - loss: 0.3903 - accuracy: 0.8428 - val_loss: 0.3998 - val_accuracy: 0.8340
Epoch 33/100
7500/7500 [==============================] - 2s 236us/sample - loss: 0.3878 - accuracy: 0.8427 - val_loss: 0.3965 - val_accuracy: 0.8364
Epoch 34/100
7500/7500 [==============================] - 2s 242us/sample - loss: 0.3868 - accuracy: 0.8437 - val_loss: 0.3930 - val_accuracy: 0.8384
Epoch 35/100
7500/7500 [==============================] - 2s 239us/sample - loss: 0.3819 - accuracy: 0.8461 - val_loss: 0.3892 - val_accuracy: 0.8408
Epoch 36/100
7500/7500 [==============================] - 2s 251us/sample - loss: 0.3774 - accuracy: 0.8451 - val_loss: 0.3821 - val_accuracy: 0.8424
Epoch 37/100
7500/7500 [==============================] - 2s 251us/sample - loss: 0.3709 - accuracy: 0.8469 - val_loss: 0.3760 - val_accuracy: 0.8440
Epoch 38/100
7500/7500 [==============================] - 2s 230us/sample - loss: 0.3660 - accuracy: 0.8511 - val_loss: 0.3719 - val_accuracy: 0.8492
Epoch 39/100
7500/7500 [==============================] - 2s 237us/sample - loss: 0.3610 - accuracy: 0.8524 - val_loss: 0.3724 - val_accuracy: 0.8440
Epoch 40/100
7500/7500 [==============================] - 2s 231us/sample - loss: 0.3578 - accuracy: 0.8540 - val_loss: 0.3650 - val_accuracy: 0.8500
Epoch 41/100
7500/7500 [==============================] - 2s 240us/sample - loss: 0.3556 - accuracy: 0.8553 - val_loss: 0.3639 - val_accuracy: 0.8480
Epoch 42/100
7500/7500 [==============================] - 2s 248us/sample - loss: 0.3535 - accuracy: 0.8548 - val_loss: 0.3629 - val_accuracy: 0.8480
Epoch 43/100
7500/7500 [==============================] - 2s 236us/sample - loss: 0.3508 - accuracy: 0.8575 - val_loss: 0.3611 - val_accuracy: 0.8500
Epoch 44/100
7500/7500 [==============================] - 2s 264us/sample - loss: 0.3481 - accuracy: 0.8577 - val_loss: 0.3598 - val_accuracy: 0.8504
Epoch 45/100
7500/7500 [==============================] - 2s 232us/sample - loss: 0.3469 - accuracy: 0.8573 - val_loss: 0.3589 - val_accuracy: 0.8484
Epoch 46/100
7500/7500 [==============================] - 1s 153us/sample - loss: 0.3451 - accuracy: 0.8591 - val_loss: 0.3608 - val_accuracy: 0.8448
Epoch 47/100
7500/7500 [==============================] - 1s 123us/sample - loss: 0.3443 - accuracy: 0.8584 - val_loss: 0.3565 - val_accuracy: 0.8528
Epoch 48/100
7500/7500 [==============================] - 1s 116us/sample - loss: 0.3427 - accuracy: 0.8611 - val_loss: 0.3561 - val_accuracy: 0.8516
Epoch 49/100
7500/7500 [==============================] - 1s 141us/sample - loss: 0.3424 - accuracy: 0.8611 - val_loss: 0.3597 - val_accuracy: 0.8468
Epoch 50/100
7500/7500 [==============================] - 1s 135us/sample - loss: 0.3412 - accuracy: 0.8591 - val_loss: 0.3559 - val_accuracy: 0.8480
Epoch 51/100
7500/7500 [==============================] - 2s 269us/sample - loss: 0.3410 - accuracy: 0.8587 - val_loss: 0.3540 - val_accuracy: 0.8516
Epoch 52/100
7500/7500 [==============================] - 2s 265us/sample - loss: 0.3393 - accuracy: 0.8607 - val_loss: 0.3531 - val_accuracy: 0.8528
Epoch 53/100
7500/7500 [==============================] - 2s 267us/sample - loss: 0.3396 - accuracy: 0.8623 - val_loss: 0.3551 - val_accuracy: 0.8520
Epoch 54/100
7500/7500 [==============================] - 2s 234us/sample - loss: 0.3387 - accuracy: 0.8613 - val_loss: 0.3520 - val_accuracy: 0.8544
Epoch 55/100

7500/7500 [==============================] - 2s 217us/sample - loss: 0.3378 - accuracy: 0.8649 - val_loss: 0.3512 - val_accuracy: 0.8536
Epoch 56/100
7500/7500 [==============================] - 2s 207us/sample - loss: 0.3370 - accuracy: 0.8623 - val_loss: 0.3539 - val_accuracy: 0.8512
Epoch 57/100
7500/7500 [==============================] - 2s 210us/sample - loss: 0.3365 - accuracy: 0.8640 - val_loss: 0.3525 - val_accuracy: 0.8544
Epoch 58/100
7500/7500 [==============================] - 2s 208us/sample - loss: 0.3364 - accuracy: 0.8620 - val_loss: 0.3509 - val_accuracy: 0.8536
Epoch 59/100
7500/7500 [==============================] - 2s 214us/sample - loss: 0.3359 - accuracy: 0.8628 - val_loss: 0.3535 - val_accuracy: 0.8504
Epoch 60/100
7500/7500 [==============================] - 2s 209us/sample - loss: 0.3355 - accuracy: 0.8633 - val_loss: 0.3544 - val_accuracy: 0.8476
Epoch 61/100
7500/7500 [==============================] - 2s 205us/sample - loss: 0.3350 - accuracy: 0.8647 - val_loss: 0.3521 - val_accuracy: 0.8496
Epoch 62/100
7500/7500 [==============================] - 2s 233us/sample - loss: 0.3352 - accuracy: 0.8641 - val_loss: 0.3538 - val_accuracy: 0.8524
Epoch 63/100
7500/7500 [==============================] - 2s 236us/sample - loss: 0.3356 - accuracy: 0.8652 - val_loss: 0.3512 - val_accuracy: 0.8508
Epoch 64/100
7500/7500 [==============================] - 2s 221us/sample - loss: 0.3358 - accuracy: 0.8640 - val_loss: 0.3513 - val_accuracy: 0.8476
Epoch 65/100
7500/7500 [==============================] - 2s 226us/sample - loss: 0.3351 - accuracy: 0.8637 - val_loss: 0.3525 - val_accuracy: 0.8540
Epoch 66/100
7500/7500 [==============================] - 2s 217us/sample - loss: 0.3366 - accuracy: 0.8621 - val_loss: 0.3522 - val_accuracy: 0.8532
Epoch 67/100
7500/7500 [==============================] - 2s 246us/sample - loss: 0.3351 - accuracy: 0.8635 - val_loss: 0.3526 - val_accuracy: 0.8524
Epoch 68/100
7500/7500 [==============================] - 2s 226us/sample - loss: 0.3350 - accuracy: 0.8637 - val_loss: 0.3526 - val_accuracy: 0.8532
Epoch 69/100
7500/7500 [==============================] - 2s 224us/sample - loss: 0.3349 - accuracy: 0.8643 - val_loss: 0.3522 - val_accuracy: 0.8464
Epoch 70/100
7500/7500 [==============================] - 2s 221us/sample - loss: 0.3346 - accuracy: 0.8629 - val_loss: 0.3518 - val_accuracy: 0.8508
Epoch 71/100
7500/7500 [==============================] - 2s 243us/sample - loss: 0.3342 - accuracy: 0.8664 - val_loss: 0.3509 - val_accuracy: 0.8552
Epoch 72/100
7500/7500 [==============================] - 2s 234us/sample - loss: 0.3340 - accuracy: 0.8637 - val_loss: 0.3537 - val_accuracy: 0.8456
Epoch 73/100
7500/7500 [==============================] - 2s 237us/sample - loss: 0.3337 - accuracy: 0.8645 - val_loss: 0.3522 - val_accuracy: 0.8468
Epoch 74/100
7500/7500 [==============================] - 2s 218us/sample - loss: 0.3334 - accuracy: 0.8645 - val_loss: 0.3558 - val_accuracy: 0.8516
Epoch 75/100
7500/7500 [==============================] - 2s 245us/sample - loss: 0.3335 - accuracy: 0.8639 - val_loss: 0.3530 - val_accuracy: 0.8520
Epoch 76/100
7500/7500 [==============================] - 2s 268us/sample - loss: 0.3341 - accuracy: 0.8633 - val_loss: 0.3525 - val_accuracy: 0.8552
Epoch 77/100
7500/7500 [==============================] - 2s 232us/sample - loss: 0.3340 - accuracy: 0.8627 - val_loss: 0.3533 - val_accuracy: 0.8480
Epoch 78/100
7500/7500 [==============================] - 2s 225us/sample - loss: 0.3340 - accuracy: 0.8652 - val_loss: 0.3527 - val_accuracy: 0.8524
Epoch 79/100
7500/7500 [==============================] - 2s 239us/sample - loss: 0.3332 - accuracy: 0.8623 - val_loss: 0.3539 - val_accuracy: 0.8496
Epoch 80/100
7500/7500 [==============================] - 2s 228us/sample - loss: 0.3329 - accuracy: 0.8643 - val_loss: 0.3506 - val_accuracy: 0.8508
Epoch 81/100
7500/7500 [==============================] - 2s 235us/sample - loss: 0.3332 - accuracy: 0.8627 - val_loss: 0.3513 - val_accuracy: 0.8540
Epoch 82/100
7500/7500 [==============================] - 2s 226us/sample - loss: 0.3337 - accuracy: 0.8633 - val_loss: 0.3513 - val_accuracy: 0.8552
Epoch 83/100
7500/7500 [==============================] - 2s 226us/sample - loss: 0.3331 - accuracy: 0.8641 - val_loss: 0.3517 - val_accuracy: 0.8536
Epoch 84/100
7500/7500 [==============================] - 2s 256us/sample - loss: 0.3329 - accuracy: 0.8660 - val_loss: 0.3524 - val_accuracy: 0.8512
Epoch 85/100
7500/7500 [==============================] - 2s 279us/sample - loss: 0.3330 - accuracy: 0.8660 - val_loss: 0.3537 - val_accuracy: 0.8428
Epoch 86/100
7500/7500 [==============================] - 2s 271us/sample - loss: 0.3324 - accuracy: 0.8635 - val_loss: 0.3516 - val_accuracy: 0.8492
Epoch 87/100
7500/7500 [==============================] - 2s 297us/sample - loss: 0.3325 - accuracy: 0.8648 - val_loss: 0.3509 - val_accuracy: 0.8536
Epoch 88/100
7500/7500 [==============================] - 1s 175us/sample - loss: 0.3321 - accuracy: 0.8651 - val_loss: 0.3514 - val_accuracy: 0.8492
Epoch 89/100
7500/7500 [==============================] - 2s 308us/sample - loss: 0.3323 - accuracy: 0.8651 - val_loss: 0.3497 - val_accuracy: 0.8552
Epoch 90/100
7500/7500 [==============================] - 2s 328us/sample - loss: 0.3319 - accuracy: 0.8648 - val_loss: 0.3504 - val_accuracy: 0.8540
Epoch 91/100
7500/7500 [==============================] - 2s 240us/sample - loss: 0.3328 - accuracy: 0.8647 - val_loss: 0.3547 - val_accuracy: 0.8456
Epoch 92/100
7500/7500 [==============================] - 2s 295us/sample - loss: 0.3329 - accuracy: 0.8645 - val_loss: 0.3516 - val_accuracy: 0.8504
Epoch 93/100
7500/7500 [==============================] - 2s 265us/sample - loss: 0.3319 - accuracy: 0.8653 - val_loss: 0.3510 - val_accuracy: 0.8528
Epoch 94/100
7500/7500 [==============================] - 2s 243us/sample - loss: 0.3321 - accuracy: 0.8644 - val_loss: 0.3543 - val_accuracy: 0.8460
Epoch 95/100
7500/7500 [==============================] - 2s 247us/sample - loss: 0.3322 - accuracy: 0.8671 - val_loss: 0.3532 - val_accuracy: 0.8456
Epoch 96/100
7500/7500 [==============================] - 2s 249us/sample - loss: 0.3321 - accuracy: 0.8644 - val_loss: 0.3533 - val_accuracy: 0.8472
Epoch 97/100
7500/7500 [==============================] - 2s 245us/sample - loss: 0.3323 - accuracy: 0.8645 - val_loss: 0.3535 - val_accuracy: 0.8556
Epoch 98/100
7500/7500 [==============================] - 2s 243us/sample - loss: 0.3321 - accuracy: 0.8649 - val_loss: 0.3525 - val_accuracy: 0.8520
Epoch 99/100
7500/7500 [==============================] - 2s 252us/sample - loss: 0.3315 - accuracy: 0.8648 - val_loss: 0.3572 - val_accuracy: 0.8432
Epoch 100/100
7500/7500 [==============================] - 2s 250us/sample - loss: 0.3317 - accuracy: 0.8663 - val_loss: 0.3525 - val_accuracy: 0.8528

# Predict the results using 0.5 as a threshold (5 points)

In [173]:
Y_pred = model.predict(X_test)

In [176]:
Y_pred = (Y_pred > 0.5).astype(np.int)
bank_test_predict=pd.DataFrame(X_test,columns=X_df.columns)
bank_test_predict["Predicted"]=Y_pred
bank_test_predict["Actual"]=bank_df["Exited"]
bank_test_predict.head()

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Predicted,Actual
0,-1.041039,0.686114,1.507879,0.916783,-0.370618,-1.386059,-1.234912,2.520742,-1.544670,-1.036672,1.293353,0,1
1,-0.383541,0.271083,-0.905500,-1.090771,3.131735,1.025877,-1.234912,0.808126,0.647388,0.964625,0.926435,0,0
2,-1.706137,1.422793,-0.905500,-1.090771,-0.559935,-0.007810,-1.234912,0.808126,-1.544670,-1.036672,0.291500,0,1
3,-0.842718,-1.181525,-0.905500,-1.090771,1.333229,-0.696935,-1.234912,-0.904489,0.647388,0.964625,-0.151796,0,0
4,-0.948098,0.686114,1.507879,-1.090771,0.008014,0.336752,-1.234912,0.808126,0.647388,-1.036672,-0.119396,0,0

# Print the Accuracy score and confusion matrix (2.5 points)

In [177]:
from sklearn import metrics
print(metrics.classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

           0       0.86      0.97      0.91      1990
           1       0.76      0.41      0.53       510

   micro avg       0.85      0.85      0.85      2500
   macro avg       0.81      0.69      0.72      2500
weighted avg       0.84      0.85      0.83      2500

In [178]:
print("accuracy", metrics.accuracy_score(Y_test, Y_pred))

accuracy 0.8528

In [179]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)

In [180]:
print("Confusion Matrix \n")
print(cm)

Confusion Matrix

[[1924   66]
 [ 302  208]]