# 1.0 Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [1]:
import numpy as np
import pandas as pd
df_laliga=pd.read_csv("Laliga.csv")
df_laliga.columns
#1.0 Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.
df_new_laliga=df_laliga.replace("-",0) #Removal of hyphen"-"
# 3.0 Print the list of teams which came Top 5 in terms of points
df_laliga.sort_values("Points")
print(df_new_laliga.loc[0:4,"Team"],"\n")
print("Top five teams with details")
df_new_laliga.head()

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

Top five teams with details

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

# Print all the teams which have started playing between 1930-1980.

In [2]:

import re

df_new_laliga["Debut"]=df_new_laliga["Debut"].replace("-","   ")
df_new_laliga["Debut"]=df_new_laliga.Debut.str.slice(0,4).astype(int)
year_GT_1930_80= (df_new_laliga.Debut >= 1930) & (df_new_laliga["Debut"]<=1980)
#print(df_new_laliga[year_GT_1930])
#year_LT_1980=
print("All the teams which have started playing between 1930-1980 ")
df_btw_30_80=df_new_laliga[year_GT_1930_80]
#df_btw_30_80
df_btw_30_80.loc[:,["Team","Debut"]]

All the teams which have started playing between 1930-1980

                   Team  Debut
3              Valencia   1931
5               Sevilla   1934
8              Zaragoza   1939
9            Real Betis   1932
10  Deportivo La Coruna   1941
11           Celta Vigo   1939
12           Valladolid   1948
14       Sporting Gijon   1944
15              Osasuna   1935
16               Malaga   1949
17               Oviedo   1933
18             Mallorca   1960
19           Las Palmas   1951
21              Granada   1941
22       Rayo Vallecano   1977
23                Elche   1959
25             Hercules   1935
26             Tenerife   1961
27               Murcia   1940
28               Alaves   1930
29              Levante   1963
30            Salamanca   1974
31             Sabadell   1943
32                Cadiz   1977
34            Castellon   1941
37              Cordoba   1962
39           Recreativo   1978
40            Burgos CF   1971
41           Pontevedra   1963
46            Gimnastic   1947
49             Alcoyano   1945
50                 Jaen   1953
52           AD Almeria   1979
54               Lleida   1950
57               Condal   1956
58      Atletico Tetuan   1951
59     Cultural Leonesa   1955

# Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.
Goal_diff_count = GoalsFor - GoalsAgainst

In [4]:
def Goal_diff_count(x,y):
    df_new_laliga["Goal_diff_count"] =df_new_laliga[x].astype(int) - df_new_laliga[y].astype(int)
    return(df_new_laliga.loc[:, ["Team","Goal_diff_count"]])


a="GoalsFor"
b="GoalsAgainst"
Goal_diff=Goal_diff_count(a,b)
#print(Goal_diff)
max=0
max_goal=Goal_diff["Team"][Goal_diff.Goal_diff_count==Goal_diff.Goal_diff_count.max()]
min_goal=Goal_diff["Team"][Goal_diff.Goal_diff_count==Goal_diff.Goal_diff_count.min()]
    
print("Teams with Maximun and Minimum Goal difference scores are\n",max_goal,"\n",min_goal)

Teams with Maximun and Minimum Goal difference scores are
 0    Real Madrid
Name: Team, dtype: object
 13    Racing Santander
Name: Team, dtype: object

# Create a new column with name “Winning Percent” and append it to the data set (5 points) #Percentage of Winning = (GamesWon / GamesPlayed)*100 #If there are any numerical error, replace it with 0% . Print the top 5 teams which has the highest Winning percentage

In [5]:
df_new_laliga["Winning_Percent"]=(df_new_laliga["GamesWon"].astype(int)/df_new_laliga["GamesPlayed"].astype(int))*100
print("Topt 5 teams which has the highest Winning percentage")
df_new_laliga.fillna(value=0,inplace=True)
df_new_laliga.head()

Topt 5 teams which has the highest Winning percentage

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning_Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987-88,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629

# Group teams based on their “Best position” and print the sum of their points for all positions

In [6]:
#Group teams based on their “Best position” and print the sum of their points for all positions
df_new_laliga["Points"]=df_new_laliga["Points"].astype(int)
df_new=df_new_laliga.groupby(["BestPosition"]).sum()
df_new["Points"]

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32